.icon-32-vm_new_32 { 
   background: url(../images/icon_32/vm_new_32.png) no-repeat left; 
}

.icon-48-vm_config_48 { 
   background: url(../images/icon_48/vm_config_48.png) no-repeat left; 
}
.icon-48-vm_user_48 { 
   background: url(../images/icon_48/vm_user_48.png) no-repeat left; 
}
.icon-48-vm_usergroup_48 { 
   background: url(../images/icon_48/vm_shoppers_48.png) no-repeat left; 
}
.icon-48-vm_module_48 { 
   background: url(../images/icon_48/vm_modules_48.png) no-repeat left; 
}
.icon-48-vm_store_48 { 
   background: url(../images/icon_48/vm_store_48.png) no-repeat left; 
}
.icon-48-vm_payment_48 { 
   background: url(../images/icon_48/vm_payment_48.png) no-repeat left; 
}
.icon-48-vm_credit_48 { 
   background: url(../images/icon_48/vm_credit_48.png) no-repeat left; 
}
.icon-48-vm_product_48 { 
   background: url(../images/icon_48/vm_product_48.png) no-repeat left; 
}
.icon-48-vm_categories_48 { 
   background: url(../images/icon_48/vm_categories_48.png) no-repeat left; 
}
.icon-48-vm_countries_48 { 
   background: url(../images/icon_48/vm_countries_48.png) no-repeat left; 
}
.icon-48-vm_currency_48 { 
   background: url(../images/icon_48/vm_currency_48.png) no-repeat left; 
}
.icon-48-vm_orders_48 { 
   background: url(../images/icon_48/vm_orders_48.png) no-repeat left; 
}
.icon-48-vm_vendors_48 { 
   background: url(../images/icon_48/vm_shop_vendors_48.png) no-repeat left; 
}
.icon-48-vm_tax_48 { 
   background: url(../images/icon_48/vm_tax_48.png) no-repeat left; 
}
.icon-48-vm_ups_48 { 
   background: url(../images/icon_48/vm_ups_48.png) no-repeat left; 
}
.icon-48-vm_shipment_rates_48 { 
   background: url(../images/icon_48/vm_shipment_rates_48.gif) no-repeat left; 
}
.icon-48-vm_shop_users_48 { 
   background: url(../images/icon_48/vm_shop_users_48.png) no-repeat left; 
}
.icon-48-vm_manufacturer_48 { 
   background: url(../images/icon_48/vm_manufacturer_48.png) no-repeat left; 
}
.icon-48-vm_product_files_48 { 
   background: url(../images/icon_48/vm_product_files_48.png) no-repeat left; 
}
.icon-48-vm_coupon_48 { 
   background: url(../images/icon_48/vm_coupon_48.png) no-repeat left; 
}