<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="vendor" label="COM_VIRTUEMART_VENDOR">
		<field name="product" type="spacer" class="star gi" label="COM_VIRTUEMART_PRODUCT_S"/>
		<field name="product_edit" type="radio" default="0" label="JACTION_EDITOWN">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="product_add" type="radio" default="0" label="JACTION_CREATE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="category" type="spacer" class="star gi" label="COM_VIRTUEMART_CATEGORY_S"/>
		<field name="category_edit" type="radio" default="0" label="JACTION_EDITOWN">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="category_add" type="radio" default="0" label="JACTION_CREATE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="manufacturer" type="spacer" class="star gi" label="COM_VIRTUEMART_MANUFACTURER_S"/>
		<field name="manufacturer_edit" type="radio" default="0" label="JACTION_EDITOWN">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="manufacturer_add" type="radio" default="0" label="JACTION_CREATE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="media" type="spacer" class="star gi" label="COM_VIRTUEMART_MEDIA_S"/>
		<field name="media_edit" type="radio" default="0" label="JACTION_EDITOWN">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="media_add" type="radio" default="0" label="JACTION_CREATE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="custom" type="spacer" class="star gi" label="COM_VIRTUEMART_CUSTOM"/>

		<field name="custom_edit" type="radio" default="0" label="JACTION_EDITOWN">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="custom_add" type="radio" default="0" label="JACTION_CREATE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="sales_spacer2" type="spacer" class="star gi" label="JSHOW"/>
		<field name="orders_edit" type="radio" default="0" label="COM_VIRTUEMART_ORDER_S">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="shoppers_edit" type="radio" default="0" label="COM_VIRTUEMART_USER_S">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="coupons_edit" type="radio" default="0" label="COM_VIRTUEMART_COUPON_S">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="report_edit" type="radio" default="0" label="COM_VIRTUEMART_REPORT">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox"
			validate="rules"
			filter="rules"
			component="com_virtuemart"
			section="component"
		/>
	</fieldset>
</config>